* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100dvh;
  background-color: #041721;
  color: white;
  font-family: 'Arial', sans-serif;
}